legend=t(:sign_up)
= form_for(resource, :as => resource_name, :url => session_path(resource_name), class: "form-horizontal") do |f|
  .form-group
    = f.text_field :email, :autofocus => true, class: 'form-control', placeholder: t(:email)
  .form-group
    = f.password_field :password, class: 'form-control', placeholder: t(:password), autocomplete: "off"
  .form-group
    = f.password_field :password_confirmation, class: 'form-control', placeholder: t(:password_confirmation), autocomplete: "off"
  = f.submit t(:sign_up), class: 'btn btn-info btn-block'
= render "devise/shared/links"
