legend
  = t(:unlock_instruction)
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .form-group
    = f.email_field :email, :autofocus => true, class: 'form-control', placeholder: t(:email)
  = f.submit t(:send_unlock_instruction), class: 'btn btn-info btn-block'
= render "devise/shared/links"