.page-header
  h1=t(:user)
.fieldset
  dl
    dt.label.label-default= t(:email)
    dd
      pre.prettyprint= @user.email
    dt.label.label-default= t(:confirmed)
    dd
      pre.prettyprint= @user.confirmed_at ? t(:yes) : t(:not)
    dt.label.label-default= t(:roles)
    dd
      pre.prettyprint
        - @user.roles.each do |role|
          =' t(role.name)
    dt.label.label-default= t(:balance)
    dd
      pre.prettyprint= @user.balance.amount
.form-group
  =' link_to t(:back), users_path, :class => 'btn btn-default btn-back'
  =' link_to t(:edit), edit_user_path(@user), :class => 'btn btn-default btn-edit'
  = link_to t(:remove), user_path(@user), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'