div class="page-header"
  h1
    =' t(:change_rate_to)
    = '"' + @rate.name + '"'
-if @rate_history_entry.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @rate_history_entry.errors.full_messages.each do |msg|
      li= msg
= form_for @rate_history_entry, url: rate_update_path, method: :put, :html => { :class => "form-horizontal" } do |f|
  = f.hidden_field :rate_id, value: @rate.id
  .form-group
    = f.label :finish, t(:start), :class => 'control-label col-md-2'
    .col-sm-3
      = f.text_field :finish, class: "form-control"
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), rate_index_path, :class => 'btn btn-default'