.page-header
  h1=t(:rate_history)
table.table.table-striped
  thead
    tr
      th= t(:rate)
      th= t(:start)
      th= t(:finish)
      th= t(:actions)
  tbody
    - @rate_history_entries.each do |rate_history_entry|
      tr class=('success' if @current_rate and @current_rate == rate_history_entry)
        td= rate_history_entry.rate.name
        td= l(rate_history_entry.start, :format => :short)
        td= rate_history_entry.finish ? l(rate_history_entry.finish, :format => :short) : t(:unlimited)
        td
          - if rate_history_entry.finish == nil and @rate_history_entries.count > 1
            = link_to rate_cancel_path, class: "btn btn-xs", method: :delete, data: { confirm: t(:are_you_sure) }
              = fa_icon "remove", title: t(:change_cancel)
i = t(:green_highlighted_current_rate)
= paginate @rate_history_entries
p
  .page_entries_info
    = page_entries_info @rate_history_entries
= link_to t(:back), rate_index_path, :class => 'btn btn-default btn-back'