.container
  .row.pricing
    - @rates.each do |rate|
        .col-md-3
          .well
            h3
              b = rate.name
            hr
            p 1 GB Datatransfer
            hr
            p 1 GB Storage
            hr
            p
              b
                = "#{rate.price} #{t(:currency)}/#{t(:mount)}"
            hr
              - if @current_rate && rate.id == @current_rate.rate.id
                button.btn.btn-danger.btn-block.active
                  = t(:current_with) + l(@current_rate.start, :format => :short)
              - elsif @next_rate && rate.id == @next_rate.rate.id
                .btn-group.btn-block
                    button.btn.btn-default.dropdown-toggle.btn-block.btn-warning aria-expanded="false" data-toggle="dropdown" type="button"
                      =' t(:next_with) + l(@next_rate.start, :format => :short)
                      span.caret
                    ul.dropdown-menu.btn-block role="menu" 
                      li
                        = link_to t(:cancel), rate_cancel_path, method: :delete, data: { confirm: t(:are_you_sure) }
              - else
                - if @next_rate
                  button.btn.btn-success.btn-block.active
                    = t(:available_from) + l(@next_rate.start, :format => :short)  
                - elsif @current_rate
                  = link_to t(:change), rate_edit_path(rate_id: rate.id), class: "btn btn-success btn-block"
                - else
                  = link_to t(:select), rate_edit_path(rate_id: rate.id), class: "btn btn-success btn-block"
= link_to t(:rate_history), rate_history_path