-if @transaction.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @transaction.errors.full_messages.each do |msg|
      li= msg
= form_for [@user, @transaction], :html => { :class => "form-horizontal" } do |f|
  .form-group
    = f.label t(:transaction_type), :class => 'control-label col-md-2'
    .col-sm-3
      = f.select :transaction_type, options_from_collection_for_select(Transaction::TYPES, :first, :last, @transaction.transaction_type), {:include_blank => true}, {'data-placeholder' => t(:select_type), :class => 'form-control'}
  .form-group
    = f.label t(:amount), :class => 'control-label col-md-2'
    .col-sm-3
      = f.number_field :amount, :class => 'text_field form-control', step: 0.01, min: 0
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), user_transactions_path(@user), :class => 'btn btn-default'