.page-header
  h1=t(:billing)

.fieldset
  dl
    dt.label.label-default= t(:balance)
    dd
      pre.prettyprint= @user.balance.amount

.form-group
  = link_to t(:back), root_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:refill), transactions_refill_path, :class => 'btn btn-default btn-money'
  '
  = link_to t(:transactions_history), transactions_history_path, :class => 'btn btn-default'