.page-header
  h1=t(:transactions_history)
p
  button.btn.btn-primary type="button" class="" data-toggle="collapse" data-target="#filter"
    = fa_icon "search", text: t(:filter)
#filter.collapse
  .well.well-small
    = search_form_for @search, url: transactions_history_path, class: "form-horizontal" do |f|
      .form-group
        = f.label :created_at_eq, t(:datetime)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :created_at_eq, class: 'search-field form-control'
      .form-group
        = f.label :transaction_type_eq, t(:transaction_type), :class => 'control-label col-md-2'
        .col-sm-3
          = f.select :transaction_type_eq, options_from_collection_for_select(Transaction::TYPES, :first, :last), {:include_blank => true}, {'data-placeholder' => t(:select_type), :class => 'form-control'}
      .form-group
        = f.label :amount_eq, t(:amount)+':', class: "col-sm-2 control-label"
        .col-sm-3
          = f.text_field :amount_eq, class: 'search-field form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.button t(:search), class: 'btn btn-info btn-search'
          '
          button.btn.btn-info type="button" id="q_reset"
            =t(:reset)
table.table.table-striped
  thead
    tr      
      th= sort_link @search, :created_at, t(:datetime)
      th= sort_link @search, :transaction_type, t(:transaction_type)
      th= sort_link @search, :amount, t(:amount)
  tbody
    - @transactions.each do |transaction|
      tr
        td= l(transaction.created_at, :format => :long)
        td= transaction.transaction_type_name
        td= transaction.amount
= paginate @transactions
p
  .page_entries_info
    = page_entries_info @transactions