.page-header
  h1=t(:refill)
-if @transaction.errors.any?
  .alert.alert-danger
    button type="button" class="close" data-dismiss="alert"
      | &times;
    h4=t('errors.title')
    ul
    - @transaction.errors.full_messages.each do |msg|
      li= msg
= form_for @transaction, url: transactions_refill_path, :html => { :class => "form-horizontal" } do |f|  
  .form-group
    = f.label t(:amount), :class => 'control-label col-md-2'
    .col-sm-3
      = f.number_field :amount, :class => 'text_field form-control', step: 0.01, min: 0
  .form-group
    .col-md-offset-2.col-sm-3
      =' f.button t(:save), :class =>'btn btn-primary', :disable_with => t(:please_wait)
      = link_to t(:cancel), billing_path, :class => 'btn btn-default'
=link_to t(:transactions_history), transactions_history_path