.page-header
  h1=t(:transaction)

.fieldset
  dl
    dt.label.label-default= t(:datetime)
    dd
      pre.prettyprint= l(@transaction.created_at, :format => :long) 
    dt.label.label-default= t(:amount)
    dd
      pre.prettyprint= @transaction.amount

.form-group
  = link_to t(:back), user_transactions_path(@user), :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_user_transaction_path(@user, @transaction), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), user_transaction_path(@user, @transaction), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'