.page-header
  h1=t(:rate)

.fieldset
  dl
    dt.label.label-default= t(:name)
    dd
      pre.prettyprint= @rate.name
    dt.label.label-default= t(:price)
    dd
      pre.prettyprint= @rate.price

.form-group
  = link_to t(:back), rates_path, :class => 'btn btn-default btn-back'
  '
  = link_to t(:edit), edit_rate_path(@rate), :class => 'btn btn-default btn-edit'
  '
  = link_to t(:remove), rate_path(@rate), :method => "delete", :data => { :confirm => t(:are_you_sure) }, :class => 'btn btn-danger btn-remove'